{% extends "document/base.html" %}
{% block content %}
<div class="container">
    <h2 class="text-left">File Management</h2>
    <br>

    <div class="row">
        {% if all_files %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Document Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for file in all_files %}
                <tr>
                    <td><a class="aclick" href="{{ file.url }}">{{ file.name }}</a></td>
                    <td>
                        <a href="{% url 'delete' id=file.id %}" style="color: black; text-decoration:none;"><button class="btnown">delete</button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

</div>
{% endblock content %}