{% extends "document/base.html" %}
{% block content %}

<div class="container">
    
    <h2 class="text-left">Ask something to your document chatbot.</h2>
    <br>

    <form class='form-center' action="/query" method="post" id="queryForm">
        {% csrf_token %}
        <div>
            <input type="text" class="form-control" required="required" placeholder="Input Query ..." aria-label="query" name="query">
            <br>
            <button type="submit" class="btnown" id="queryBtn">Submit</button>
            <!-- Loading spinner -->
            <button class="btnown" type="button" id="queryloader" style="display: none;" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Generating Anwser...
            </button>
        </div>
    </form>

    <br>
    
    {% if result %}
    <h4 class="text-center">Query: {{ query }}</h4>
    <br>
    <legend class="p-3 mb-3 bg-light text-dark" style="font-size:20px; font-weight: bold;">Anwser: </legend>
    
    <table id="querySection" class="table">
        <tbody>
        <tr> 
            <td>{{ result }}</td>
        </tr>
        <tr class="border border-bottom border-3" style="border: #6A6E59"></tr>
        </tbody>
    </table>
    
    {% endif %} 
    
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('#queryForm').on('submit', function(){
            $('#queryBtn').hide(); 
            $('#queryloader').show(); // Show the loader/spinner when form is submitted
            $('#querySection').hide(); // Hide the content section until new content is loaded
        });

        // Function to hide the spinner and display the content section
        function hideLoaderAndShowContent() {
            $('#queryloader').hide();
            $('#querySection').show();
        }

        // Call the function to show content when content exists (You might need to adjust this logic)
        if ('{{ output }}' !== '') {
            hideLoaderAndShowContent();
        }
    });
</script>

{% endblock content %}