{% extends "document/base.html" %}
{% block content %}

<div class="container">
    
    <h2 class="text-left">Ask something to your document chatbot.</h2>
    <br>

    <form class='form-center' action="/query/" method="post">
        {% csrf_token %}
        <div>
            <input type="text" class="form-control" required="required" placeholder="Input Query ..." aria-label="query" name="query">
            <br>
            <button type="submit" class="btnown" >Submit</button>
        </div>
    </form>

    <br>
    
    {% if result %}
    <h4 class="text-center">Query: {{ query }}</h4>
    <br>
    <legend class="p-3 mb-3 bg-light text-dark" style="font-size:20px; font-weight: bold;">Anwser: </legend>
    
    <table class="table">
        <tbody>
        <tr> 
            <td>{{ result }}</td>
        </tr>
        <tr class="border border-bottom border-3" style="border: #6A6E59"></tr>
        </tbody>
    </table>
    
    {% endif %} 
    
</div>

{% endblock content %}